@import "../../node_modules/bootstrap/scss/functions";
@import "../../node_modules/bootstrap/scss/variables-dark";
@import "../../node_modules/bootstrap/scss/maps";
@import "../../node_modules/bootstrap/scss/mixins";
@import "../../node_modules/bootstrap/scss/root";
@import "../../node_modules/bootstrap/scss/utilities";
@import "../../node_modules/bootstrap/scss/reboot";
@import "../../node_modules/bootstrap/scss/type";
@import "../../node_modules/bootstrap/scss/images";
@import "../../node_modules/bootstrap/scss/containers";
@import "../../node_modules/bootstrap/scss/grid";
@import "../../node_modules/bootstrap/scss/helpers";
@import "colors";

body {
    background-color: black;
}

@mixin default-box($box-color, $max-w, $bk-color, $box-rem) {
    color: $box-color;
    max-width: $max-w;
    width: 100%;
    background-color: $bk-color;
    padding: $box-rem;
}

.content {
    @include default-box(#fff, 900px, green, 3rem);
.product-card {
    @include default-box(#fff, 300px, black, 1rem);

    .shopping-btn {
        background-color: green;

    }
}
}